:root {
  --dark-teel: #b2edf4;
  --light-teel: #effcfb;
}

*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: var(--dark-teel);
}

h1{
	text-align: center;
	margin-top: 40px;
}

.contents{
	border-radius: 25px;
	background-color: var(--light-teel);
	margin-left: auto;
  	margin-right: auto;
	width:80%;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: baseline;
	overflow: auto;

}

.centered{
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	width: 50%;
}


.row-item{
	padding: 40px 0px 40px 0px;
	width: 40%;
}

@media screen and (max-width: 768px) {
  .contents {
    flex-flow: column;
  }
  .row-item{
  	width: 80%;
  	margin: auto;
  	text-align: center;
  }

  .centered{
  	width: 100%
  }

}

p{
	line-height: 2;

}

input[type=email], input[type=password] {
  width: 70%;
  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
}

input[type=submit]{
	padding: 4px;
}